html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Root Container */

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 0;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(255, 153, 153);
    /* Black fallback color */
    background-color: rgba(255, 153, 153, 0.788);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.lounge {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 0;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(255, 153, 153);
    /* Black fallback color */
    background-color: rgba(255, 153, 153, 0.788);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.close-overlay {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    background: transparent;
    border: 0;
    color: white;
}

.close-overlay:hover {
    animation: effect 0.4s infinite;
}

@keyframes effect {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    20% {
        transform: translateX(-4px) rotate(-4deg);
    }

    40% {
        transform: translateX(-2px) rotate(-2deg);
    }

    60% {
        transform: translateX(4px) rotate(4deg);
    }

    80% {
        transform: translateX(2px) rotate(2deg);
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

/* Panolens Container */

.panolens-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #000;
}
